name: CI
on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']
permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@1.82.0
        id: toolchain
      - run: cargo build --bins --tests

  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@1.82.0
        id: toolchain
        with:
          components: clippy
      - run: cargo clippy --tests --no-deps -- -D warnings

  format:
    name: Format
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@1.82.0
        id: toolchain
        with:
          components: rustfmt
      - run: cargo fmt --check

  # TODO: Run this once tests are added
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 10
  #   needs: build
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: dtolnay/rust-toolchain@1.82.0
  #       id: toolchain
  #     - run: cargo test
